
    <mat-card class="stat-card" [ngStyle]="{'border-left': '4px solid ' + color()}">
  <mat-card-content>
     <div class ="flex flex-wrap">
    <div *ngIf="icon()" class="icon" [style.background]="color() + '22'">
      <mat-icon >{{ icon() }}</mat-icon>
      </div>
      <div *ngIf="!icon()" class="main-row">
      <div class="value">{{ value() }}</div>
        <mat-chip disabled>{{ label() }}</mat-chip>
    </div>
        <div class="change" [ngClass]="trend()">
        {{ change() }}
        <mat-icon *ngIf="trend() === 'up'">arrow_upward</mat-icon>
        <mat-icon *ngIf="trend() === 'down'">arrow_downward</mat-icon>
      </div>
    </div>

    <div *ngIf="icon()" class="main-row">
      <div class="value">{{ value() }}</div>
    </div>
  <mat-chip *ngIf="icon()" disabled>{{ label() }}</mat-chip>
       <ng-content></ng-content>

  </mat-card-content>
</mat-card>